html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

/* HEADER STYLING */

header {
  background: #24053e;
}
nav {
  padding: 60px 70px;
}
header span {
  color: white;
  font-size: 18px;
  font-family: "Manrope";
  font-weight: bold;
  border-bottom: #44ffa1 3px solid;
  transition: all 160ms ease-in-out;
}
header span:hover {
  color: #44ffa1;
}
.underlined {
  border-bottom: #44ffa1 3px solid;
  font-family: "Fraunces";
  font-size: 80px;
  font-weight: normal;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Fraunces";
}
h1 {
  font-size: 80px;
  padding: 20px 400px;
}
h2 {
  padding-top: 40px;
}
header section {
  color: white;
  max-width: 100%;
  background-color: #24053e;
  background-image: url(./assets/images/bg-pattern-1.svg),
    url(./assets/images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top 7.25rem right 86vw, top 19.625rem left 91.3vw;
  text-align: center;
}
section a {
  background-color: #44ffa1;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: "Manrope";
  font-weight: bold;
}
.phoneImage {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 200px;
  z-index: 2;
}

.hero__curve {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}
.hero__curve path {
  fill: hsl(273, 85%, 13%);
}

/* SECTION FEATURES */

section.features {
  padding-top: 20%;
  background-color: #fcf8ff;
  margin-bottom: 30px;
  text-align: center;
}
section.features span {
  border: 1px solid #24053e;
  padding: 20px 25px;
  border-radius: 100%;
  font-family: "Fraunces";
  font-size: 24px;
}

.features {
  display: flex;
  text-align: center;
}
section.features p {
  font-size: 18px;
  font-family: "Manrope";
  color: #24053e;
  line-height: 2;
}

.features__curve {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3.125rem;
  z-index: -1;
}
.features__curve path {
  fill: hsl(276, 100%, 99%);
}
.founderImage {
  max-width: 40%;
}
.testing {
  background-color: #24053e;
  color: white;
  max-width: 60%;
  height: 90%;
}
.testing p {
  font-family: "Manrope";
}

.flex {
  display: flex;
  justify-content: space-between;
}

.testingSection {
  padding-top: 30px;
  margin-top: 40px;
}
/* FOOTER */
.darkLogo {
  display: block;
  margin: 0 auto;
}
.socialMediaIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
