html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

/* HEADER STYLING */

header {
  background: #24053e;
}

/* NAVBAR */
nav {
  padding: 6em 7em;
}
.flex-navbar {
  display: flex;
  justify-content: space-between;
}
.applyForAccess {
  color: white;
  font-size: 1.8em;
  font-family: "Manrope";
  font-weight: bold;
  transition: all 160ms ease-in-out;
}
.applyForAccess:hover {
  color: #44ffa1;
  cursor: pointer;
}

.underlined {
  border-bottom: #44ffa1 3px solid;
}

/* END OF NAVBAR */
h1,
h2,
h3 {
  text-align: center;
  font-family: "Fraunces";
}
h1 {
  font-size: 8em;
  padding: 0.5em 0;
}

header section {
  color: white;
  background-color: #24053e;
  background-image: url(./assets/images/bg-pattern-1.svg),
    url(./assets/images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top 7.25rem right 86vw, top 19.625rem left 91.3vw;
  text-align: center;
}
section a {
  background-color: #44ffa1;
  padding: 1em 2em;
  text-decoration: none;
  color: black;
  font-family: "Manrope";
  font-weight: bold;
  transition: all 220ms ease-in-out;
  font-size: 1.8em;
}
section a:hover {
  background-color: #24053e;
  border: 1px solid #44ffa1;
  color: #44ffa1;
}
.phoneImage {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20em;
  z-index: 2;
}

.hero__curve {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}
.hero__curve path {
  fill: hsl(273, 85%, 13%);
}

@media (max-width: 550px) {
  nav {
    padding: 3em;
  }
  h1 {
    font-size: 5em;
    padding: 1em 0;
  }
  .phoneImage {
    top: 10em;
  }
  header section {
    background-image: none;
  }
}

/* END OF HEADER */

/* SECTION FEATURES */

.features {
  padding: 25em 10em 10em 10em;
  background-color: #fcf8ff;
  text-align: center;
}

h2 {
  padding: 2em 0 0.5em 0;
  font-size: 3.2em;
}

.number {
  border: 1px solid #24053e;
  padding: 0.5em 0.9em;
  border-radius: 100%;
  font-family: "Fraunces";
  font-size: 2.4em;
  display: inline-block;
}

.flex-features {
  display: flex;
  justify-content: space-around;
  gap: 5em;
  padding: 0 5em;
}
.features p {
  font-size: 1.8em;
  font-family: "Manrope";
  color: #24053e;
  line-height: 2;
}

.features__curve {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
}
.features__curve path {
  fill: #fcf8ff;
}

@media (max-width: 960px) {
  .flex-features {
    flex-direction: column;
    text-align: left;
    padding: 0;
  }
  .feature h2 {
    text-align: left;
    padding-top: 0.5em;
  }
  .feature {
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
  }
  .number {
    margin-right: 40px;
  }
}

@media (max-width: 550px) {
  .features {
    padding: 15em 5em;
    margin: 0;
  }
  .feature {
    display: block;
    text-align: center;
  }
  .feature h2 {
    padding-top: 1em;
    display: block;
    text-align: center;
  }
  .number {
    margin-right: 0;
  }
}

/* SECTION TESTING */
.founderImage {
  max-width: 25%;
  height: 25%;
  position: relative;
  z-index: -2;
}
h3 {
  text-align: left;
  font-size: 5.6em;
}

.lastSection {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 12em 0;
  overflow: hidden;
  padding-bottom: 10em;
}

.testing {
  position: relative;
  background-color: #24053e;
  color: white;
  max-width: 50%;
  height: 100%;
  padding: 4.5em 6em 5em 4em;
  margin: 14em 1em 0 0;
  text-align: left;
  z-index: 1;
  background-attachment: fixed;
}

.lastSection::before {
  content: "";
  position: absolute;
  top: 25em;
  right: -40em;
  bottom: -15em;
  left: 20em;
  background-image: url("./assets/images/bg-pattern-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.testing p {
  font-family: "Manrope";
  padding: 1em 4em 2em 0;
  font-size: 1.8em;
}
.item {
  margin-left: -6em;
}
@media (max-width: 960px) {
  .founderImage {
    max-width: 30%;
  }
  .testing {
    max-width: 70%;
  }
  .lastSection::before {
    right: -25em;
  }
}
@media (max-width: 550px) {
  .founderImage {
    max-width: 60%;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    font-size: 3.2em;
  }
  .testing p {
    font-size: 1.6em;
    text-align: center;
    padding: 1em 0.5em;
    margin-bottom: 2em;
  }
  .lastSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .lastSection::before {
    background-image: none;
  }
  .testing {
    max-width: 90%;
    align-items: center;
    margin: 0 auto;
    margin-top: -4em;
    text-align: center;
  }
}

/* FOOTER */
.darkLogo {
  display: block;
  margin: 0 auto;
  padding: 0 4em 4em;
}
.socialMediaIcons {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-bottom: 6em;
}
